@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
i {
  font-weight: 900;
}

/* start website  */

/* start sideBar */
.sideBar {
  height: 100vh;
  background-color: #fafafa;
}
.nav-link {
  color: #9db2ce;
}
.nav-link {
  --bs-nav-link-hover-color: #9db2ce;
}
.sideBar ul li:hover {
  transition: 0.3s;
  background-color: #3296d4;
  border-radius: 10px;
}
.sideBar ul li:hover a {
  color: white;
}
.sideBar div:last-child {
  cursor: pointer;
}
/* end of sidebar */

/* start of top bar */
.topbar {
  height: 65px;
}

/********** start language  *****************/

.chosen {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  width: 120px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  height: 35px;
}
.chosen i {
  transition: 0.5s;
}
.chosLang {
  width: 100px;
  position: absolute;
  top: -100px;
  left: -100px;
  transition: 0.5s;
  z-index: 4444;
}
.choice {
  display: flex;
  gap: 30px;
}
.choice img,
.chosen img {
  border-radius: 50%;
  padding: 1px;
}
.chosLang p,
.chosLang span {
  text-align: center;
  font-size: 10px;
}
.chosLang p:first-child {
  margin-bottom: 5px;
}

/********** start support  *****************/

.support {
  width: 100px;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #565656;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  height: 30px;
}
.support-popup {
  background-color: #fff;
  width: 600px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 22;
}
.support-popup .head {
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
}
.support-popup .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-popup .body i {
  width: 50px;
  height: 50px;
  font-size: 40px;
  margin: 10px 0;
  color: #565656;
}
.support-popup .form {
  width: 100%;
  margin: 10px auto;
}
.support-popup .form div:not(:last-child) {
  width: 90%;
  margin: 10px auto;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 5px;
}
.support-popup .form div input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 5px;
}
.support-popup .form div input.detials {
  height: 100px;
}
.support-popup .form div input::placeholder {
  color: #c8c8c8;
}
.support-popup .form div.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.support-popup .form div.btns button {
  background-color: #3296d4;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 160px;
  cursor: pointer;
}
.support-popup .form div.btns button:last-child {
  background-color: #f3f5f5;
  color: #000;
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 25%;
  }
}

@keyframes slideOut {
  from {
    right: 25%;
  }
  to {
    right: -100%;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

/********** start notification  *****************/

.notification {
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative !important;
  cursor: pointer;
}
.notification i {
  line-height: 35px;
  font-size: 22px;
  color: #3296d4;
}

.notification .notif-popup {
  width: 420px;
  height: 400px;
  border-radius: 10px;
  background-color: #f1f1f1;
  overflow-y: auto;
  position: absolute;
  top: 40px;
  right: 20px;
  transition: 0.3s;
  z-index: 333;
}
.notification .notif-popup::-webkit-scrollbar {
  display: none;
}
.notification .head {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.notification .head h5 {
  font-size: 20px;
  color: #565656;
}
.notification .head span {
  font-size: 14px;
  color: #3296d4;
}
.notification .notif-row {
  display: flex;
  padding: 5px 10px;
  gap: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.notification .notif-row img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.notification .notif-row .text {
  flex: 1;
  text-align: left;
  position: relative;
}
.notification .notif-row h6 {
  font-size: 16px;
  color: #565656;
}
.notification .notif-row p,
.notification .notif-row p.required span {
  font-size: 12px;
  color: #c32b43;
}
.notification .notif-row p.new {
  color: #27ae60;
}
.notification .notif-row p.survey,
.notification .notif-row p.required,
.notification .notif-row p.zoom,
.notification .notif-row p.details {
  color: #a5a5a5;
}
.notification .notif-row .stars {
  padding-left: 20px;
}
.notification .notif-row i {
  color: #dcdcdc;
  text-align: center;
  font-size: 17px;
}
.notification .notif-row p.zoom span,
.notification .notif-row p.details span {
  color: #3296d4;
  text-decoration: underline;
}
.notification .notif-row p.details span {
  display: block;
}
.notification .notif-row p.zoom img {
  width: 14px;
  height: 14px;
  margin: 2px;
}
.notification .notif-row .ago {
  position: absolute;
  right: 0;
  top: 0;
  color: #a5a5a5;
  font-size: 12px;
}
.notification .notif-row button {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #27ae60;
  margin: 0 5px;
}
.notification .notif-row .no {
  background-color: #c32b43;
}

/********** start person  *****************/

.person img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.person .details .name {
  color: #33312c;
  font-size: 14px;
}
.person .details .email {
  color: #747688;
  font-size: 14px;
}

/* end of top bar */

/* Start Home Component */
.home-comp .period {
  height: 140px;
  padding: 20px;
  background-color: #3296d41a;
}
.home-comp .statement {
  font-size: 20px;
  color: #565656;
}
.home-comp .content .nums,
.home-comp .content .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  font-size: 24px;
  color: #3296d4;
}
.home-comp .content .text {
  padding: 0 10px;
}
.home-comp .content .nums h4 {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 24px;
  margin: 0;
}
.home-comp .content .text p {
  color: #565656;
  font-size: 12px;
  text-align: center;
}
.home-comp .coming-events {
  padding: 10px;
}
.home-comp .coming-events .events {
  display: flex;
  gap: 20px;
}
.home-comp .coming-events h3 {
  color: #565656;
  font-size: 24px;
  margin-bottom: 10px;
}
.home-comp .coming-events .event {
  display: block;
  width: 450px;
  height: 230px;
  background-color: #e1c6c6;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  overflow: hidden;
}
.home-comp .coming-events .event img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-comp .coming-events .event .content {
  position: relative;
  z-index: 1;
  background-color: #32323266;
  backdrop-filter: blur(7px);
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  padding: 0 10px;
  color: #fff;
}
.home-comp .coming-events .event .content .txt {
  flex: 1;
}
.home-comp .coming-events .event .content h5 {
  font-size: 18px;
}

.home-comp .coming-events .event .content .info {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.home-comp .coming-events .event .content .info i {
  padding-right: 5px;
}
.home-comp .coming-events .event .content .date {
  background-color: #f2f2f280;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}
.home-comp .recommend {
  padding: 10px;
}
.home-comp .recommend h4 {
  color: #565656;
  font-size: 24px;
  margin-bottom: 10px;
}
.home-comp .recommend .event {
  display: block;
  width: 200px;
  height: 230px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  position: relative;
}
.home-comp .recommend .event img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
  display: block;
  margin: 5px auto;
}
.home-comp .recommend .event .info h6 {
  color: #000;
  font-size: 14px;
}
.home-comp .recommend .event .info p {
  color: #565656;
  font-size: 12px;
  margin: 0;
}
.home-comp .recommend .event .info p i {
  padding: 5px;
}
.home-comp .recommend .event .info .btns span {
  background-color: #27ae60;
  color: #fff;
  margin: 0 5px;
  width: fit-content;
  padding: 0 3px;
  border-radius: 5px;
  font-size: 12px;
}
.home-comp .recommend .event .info .btns span:last-child {
  background-color: #747688;
}
.home-comp .recommend .event .info .rate {
  display: flex;
  justify-content: space-between;
}
.home-comp .recommend .event .info .rate span {
  color: #6b0ab9;
  font-size: 14px;
}
.home-comp .recommend .event .info .rate span:last-child {
  font-size: 16px;
  color: #000;
}
.home-comp .recommend .event .info .rate span:last-child i {
  color: #f7cb15;
  margin-right: 3px;
}
.home-comp .recommend .event .price {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  background-color: rgba(154, 153, 153, 0.6);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  border-radius: 8px;
}
.home-comp .recommend .event .price h6 {
  font-size: 16px;
  margin: 0;
}
.home-comp .recommend .event .price span {
  font-size: 12px;
}
/* End Home Component */

/* Start MyEvents Component */
.myevents .header {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.myevents .header select {
  width: 140px;
  height: 44px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  color: #bdbdbd;
  padding: 0 10px;
  outline: none;
}
.myevents .header .search {
  flex: 1;
  background-color: #f5f7fb;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  border-radius: 10px;
}
.myevents .header .search i {
  color: #a5a5a5;
  width: 18px;
  height: 18px;
}
.myevents .header .search input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
}
.myevents .header .search input::placeholder {
  color: #a5a5a5;
}
.myevents .event {
  display: block;
  width: 200px;
  height: 230px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
  position: relative;
}
.myevents .body {
  display: flex;
}
.myevents .event img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
  display: block;
  margin: 5px auto;
}
.myevents .event .info h6 {
  color: #000;
  font-size: 14px;
}
.myevents .event .info p {
  color: #565656;
  font-size: 12px;
  margin: 0;
}
.myevents .event .info p i {
  padding: 5px;
}
.myevents .event .info .rate {
  display: flex;
  justify-content: space-between;
}
.myevents .event .info .rate span {
  color: #6b0ab9;
  font-size: 14px;
}
.myevents .event .info .rate span:last-child {
  font-size: 16px;
  color: #000;
}
.myevents .event .info .rate span:last-child i {
  color: #f7cb15;
  margin-right: 3px;
}
.myevents .event .price {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  background-color: rgba(154, 153, 153, 0.6);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  border-radius: 8px;
}
.myevents .event .price h6 {
  font-size: 16px;
  margin: 0;
}
.myevents .event .price span {
  font-size: 12px;
}
/* End MyEvents Component */
